.post-image {
    max-width: 100%; /* Establece un ancho máximo del 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción de la imagen */
}
.user-avatar {
    float: left;
    margin-right: 20px; /* Espacio entre la imagen y los detalles del usuario */
    border-radius: 50%; /* Para hacer la imagen redonda, si lo deseas */
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Cambia esto al color de fondo que desees */
    color: #212529; /* Cambia esto al color de texto que desees */
    padding: 20px 0; /* Ajusta el relleno según sea necesario */
}
.contenido1 {
    flex: 1;
}
﻿.bodyRegistro {
    background-color: #ffffff;
    color: #000000;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Ajusta la altura del contenedor del formulario */
}

.form-container form {
        max-width: 400px;
        width: 100%;

}
form button[type="submit"] {
        width: 100%;
    }
.confirmation-container {
    text-align: center;
    margin-top: 50px;
}
        .user-info {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
        }
            .user-info img {
                width: 100px; 
                height: 100px;
                border-radius: 50%;
                margin-right: 2rem; 
            }
        .user-details {
            margin-top: 2rem;
        }
            .user-details p {
                margin-bottom: 1rem;
            }
            .user-details h2 {
                margin-bottom: 1rem;
            }
        .edit-button {
            margin-top: 1rem;
        }
