<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>BlogShip</title>
	<link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- Agregar Bootstrap Icons CSS -->
	<link href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>

<body class="bodyRegistro">
	<header>
		<nav class="navbar navbar-expand-lg navbar-light fixed-top">
			<div id="top" class="container">
				<i class="bi bi-rocket-takeoff"></i><i class="bi bi-caret-left"></i></a>
				<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a th:href="@{/controller/login}" class="nav-link">Iniciar Sesión</a>
						</li>
						<li style="margin-left: 10px;" class="nav-item active">
							<a th:href="@{/controller/registrar}" class="nav-link">Registro</a>
						</li>
					</ul>
				</div>
				<i class="bi bi-caret-right"></i><i class="bi bi-rocket-takeoff"></i></a>
			</div>
		</nav>
	</header>
	<div id="inicio"></div>
	<div class="container contenido1" style="margin-top: 70px;">
		<main role="main" class="pb-3">
			<div class="container confirmation-container">
				<div class="jumbotron">
					<h1 class="display-4">¡Correo de cambio de contraseña enviado!</h1>
					<p class="lead">Siga las instrucciones del correo para cambiar su contraseña.</p>
					<p class="lead">Si no le llega ningún correo electrónico puede ser porque no lo haya introducido correctamente.</p>
					<hr class="my-4">
					<p class="lead">
					</p>
				</div>
			</div>
		</main>
	</div>
	<footer class="bg-light text-dark text-center py-3 mt-auto footer">
		<div class="container">
			<!--Le asigno una id al enlace para indicar a que parte ir
            (este vuelve justo abajo del header al inicio de todo)-->
			<p><a href="#inicio"><i class="bi bi-arrow-up-circle-fill"></i></a></p>
			<p class="mb-0">© 2024 BlogShip</p>
			<p class="mb-0">Diseñado por <a href="https://github.com/nocea" target="_blank">Mario Nocea Cabrera</a></p>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>