<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlogShip</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div id="top" class="container">
                <a class="nav-link" th:href="@{/inicio/home}"><i class="bi bi-rocket-takeoff"></i><i class="bi bi-caret-left"></i></a>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/controller/logout}">Cerrar Sesión</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/inicio/miCuenta}">Mi cuenta</a>
                        </li>
                    </ul>
                </div>
                <a class="nav-link" th:href="@{/inicio/home}"><i class="bi bi-caret-right"></i><i class="bi bi-rocket-takeoff"></i></a>
            </div>
        </nav>
    </header>
<div class="container confirmation-container">
        <div class="jumbotron">
            <h1 class="display-4">Inicio de Sesión Exitoso!<span th:text="${usuarioDTO.nombreCompleto_usuario}"></span></h1>
            <hr class="my-4">
            <p class="lead">
            </p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>