<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlogShip</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
  <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Agregar Bootstrap Icons CSS -->
    <link href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div id="top" class="container">
                <a class="nav-link" th:href="@{/index}"><i class="bi bi-rocket-takeoff"></i><i class="bi bi-caret-left"></i></a>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/controller/logout}">Cerrar Sesión</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/inicio/miCuenta}">Mi cuenta</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link"sec:authorize="hasRole('ROLE_USUARIO')" th:href="@{/inicio/paraTi}">Para Ti</a>
                        </li>
                    </ul>
                </div>
                <a class="nav-link" th:href="@{/index}"><i class="bi bi-caret-right"></i><i class="bi bi-rocket-takeoff"></i></a>
            </div>
        </nav>
    </header>
    <div id="inicio"></div>
    <div class="container contenido1" style="margin-top: 70px;">
        <main role="main" class="pb-3">
        <div class="container confirmation-container">
        <div class="jumbotron">
            <div class="user-info">
            <img th:src="'data:image/jpeg;base64,' + ${imagenBase64}" alt="Imagen de Usuario">
                <h1 class="display-4">@<span th:text="${usuarioDTO.alias_usuario}"></span></h1>
            </div>
            <hr class="my-4">
            <div class="user-details">
                <h2>Detalles del Usuario</h2>
                <p><strong>Nombre Completo:</strong> <span th:text="${usuarioDTO.nombreCompleto_usuario}"></span></p>
                <p><strong>Email:</strong> <span th:text="${usuarioDTO.email_usuario}"></span></p>
                <p><strong>Teléfono:</strong> <span th:text="${usuarioDTO.movil_usuario}"></span></p>
                <p><strong>Contraseña:</strong>*********</p>
            </div>
            <form th:action="@{/inicio/cambiarImagen}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="imagen" class="form-label">Subir foto de perfil:</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="imagen" name="imagen" th:required="true" accept="image/*">
            <label class="custom-file-label" for="imagen">Seleccionar archivo...</label>
        </div>
        <small id="imagenHelpBlock" class="form-text text-muted">Formatos permitidos: JPEG, JPG, PNG. Tamaño máximo: 5MB.</small>
    </div>
    <button type="submit" class="btn btn-dark btn-sm btn-block" style="max-width: 150px;">Cambiar foto de perfil</button>
</form>
        </div>
    </div>
        </main>
    </div>
<footer class="bg-light text-dark text-center py-3 mt-auto footer">
        <div class="container">
            <!--Le asigno una id al enlace para indicar a que parte ir
            (este vuelve justo abajo del header al inicio de todo)-->
            <p><a href="#inicio"><i class="bi bi-arrow-up-circle-fill"></i></a></p>
            <p class="mb-0">© 2024 BlogShip</p>
            <p class="mb-0">Diseñado por <a href="https://github.com/nocea" target="_blank">Mario Nocea Cabrera</a></p>
        </div>
    </footer>
</body>
</html>