<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Posts</title>
    <!-- Agregar Bootstrap CSS -->
    <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Agregar Bootstrap Icons CSS -->
    <link href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div id="top" class="container">
            <a class="nav-link" th:href="@{/index}"><i class="bi bi-rocket-takeoff"></i><i class="bi bi-caret-left"></i></a>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/controller/logout}">Cerrar Sesión</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li style="margin-left: 10px;"class="nav-item active">
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}" class="nav-link">Administración</a>
                    </li>
                </ul>
            </div>
            <a class="nav-link" th:href="@{/index}"><i class="bi bi-caret-right"></i><i class="bi bi-rocket-takeoff"></i></a>
        </div>
    </nav>
</header>

<div id="inicio"></div>
<div class="container contenido1" style="margin-top: 70px;">
    <main role="main" class="pb-3">
        <div class="container">
            <h1>Lista de Posts</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Imagen</th>
                        <th>Pie de Foto</th>
                        <th>Usuario</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="post : ${posts}">
                        <td th:text="${post.id_post}"></td>
                        <td th:text="${post.titulo_post}"></td>
                        <td>
                            <img th:src="'data:image/jpeg;base64,' + ${post.string_imagen_post}" alt="Imagen del Post" style="max-width: 100px; max-height: 100px;">
                        </td>
                        <td th:text="${post.pieDeFoto_post}"></td>
                        <td th:text="${post.usuario_alias_post}"></td>
                       	<td>
    <td>
    <form id="formBorrarPost" th:action="@{/admin/borrarPost}" method="post">
        <input type="hidden" name="postId" th:value="${post.id_post}">
        <!-- Modificar el botón para llamar a la función de confirmación -->
        <button type="submit" class="btn btn-danger">Borrar</button>
    </form>
</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll(".btn-danger").forEach(function(btn) {
            btn.addEventListener("click", function() {
                // Obtener el formulario asociado al botón
                var form = this.closest("form");
                // Enviar el formulario
                form.submit();
            });
        });
    });
</script>
<!-- Script de filtrado -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("txtTituloBusqueda").addEventListener("input", function () {
            var filtro = this.value.toLowerCase();
            var filas = document.querySelectorAll("tbody tr");

            filas.forEach(function (fila) {
                var titulo = fila.querySelector("td:nth-child(2)").textContent.toLowerCase();

                if (titulo.includes(filtro)) {
                    fila.style.display = "table-row";
                } else {
                    fila.style.display = "none";
                }
            });
        });
    });
</script>
</body>
</html>
